{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="csrf-token" content="{{ csrf_token }}">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{% static 'css/deps.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
</head>
<body>
{% block body %}
    
{% endblock body %} 
<script type="text/javascript" src="{% static 'js/deps.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
</body>
</html>
